* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/2880px-Flag_of_Chile.svg.png') no-repeat center center/cover;
    color: white;
}

.countdown-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#countdown {
    font-size: 2.5em;
    margin-top: 20px;
}

#countdown span {
    font-weight: bold;
    color: #00d1b2;
}
